# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.jar
*.so
*.dylib
*.dll
*.exe
*.msi
*.ipa
*.apk
*.zip
*.pyc
.idea/*
.env
rootkey.csv
*.pcap
dynamodb_local_latest/*